form {
  width: 100%;
  padding: 80px;
}

form h1 {
  font-size: 32px;
  color: #5c8599;
  font-weight: 700;

  margin-bottom: 24px;
}

form h3 {
  width: 70%;
  font-size: 24px;
  color: #5c8599;
  font-weight: 600;

  margin-bottom: 48px;
}
